body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url(../src/joga_pro_corolla.png);
}

@media screen and (orientation: landscape) {
    body {
        background-image: url(../src/dirigindomeucarro.png);
    }
}