@import url("../../repetition.css");

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url(../../../src/portrait/gears_portrait.png);
}

@media screen and (orientation: landscape) {
    body {
        background-image: url(../../../src/landscape/gears_landscape.png);
    }
}