@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://db.onlinewebfonts.com/c/38d41072aa88a50711d4d50dd0d50f6b?family=Neue+Machina');
@font-face {
    font-family: "Neue Machina";
    src: url("//db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.eot");
    src: url("//db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.svg#Neue Machina") format("svg"); 
}

* {
    font-family: 'Neue Machina', 'sans-serif';
    margin: 0;
    padding: 0;
}

body {
    margin: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(src/Vagabunda.png);
}

.section-1 {
    margin-top: 25%;
    margin-left: 7.5%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.section-2 {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1-titulo {
    color: #CCCCCC;
    font-size: 300%;
    font-weight: 100;
}

.section-1-subtitulo {
    color: #CCCCCC;
    font-size: 75%;
    font-weight: 100;
}

.section-2-button-continuar {
    background-color: rgba(0, 0, 0, 0.25);
    font-weight: 100;
    display: flex;
    width: 20%;
    padding: 1%;
    cursor: pointer;
    color: #12E1B9;
    border: 2.5px solid;
    border-color: #12E1B9;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
    justify-content: space-between;
}