@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #573E54;
}

.cor-header {
    background-color: #170132;
    width: 100vw;
    height: 10vh;
}

.triangulo-para-direita {
    margin-top: -5vh; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #361542;
}

.div-header {
    margin-top: -5vh;
    padding-left: 5vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 10vh;
    background-color: #361542;
}

.div-1-texto {
    font-size: 150%;
    color: #bce1ab;
    font-family: "Alice";
    font-weight: bold;
}

.botoes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.botao {
    text-decoration: none;
    cursor: pointer;
    color: #170132;
    text-align: center;
    margin: 5%;
    display: flex;
    flex: 0 0 20%;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 10vh;
    background-color: #BCE1AB;
}
